
:root {
    --background-prices: #111319;
    --white-color: #FFFFFF;
    --color-title-second: #303030;
    --accent-color: #FF6C00;
    --subtitle-color: rgba(157, 164, 189, 0.6);
    --text-color: #9DA4BD;
    --after-title-color: #555555;
    --background-barbers: #F7F7F7;
    --color-input: rgba(157, 164, 189, 0.4);
    --background-gradient: rgba(25, 28, 38, 0.2);
    --color-title: #37383A;
    --backgroung-contacts: #191C26;

    --link-lh: 1.33;
}

body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 0.02em;
    max-width: 1600px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0px;
    padding: 0px;
    padding-left: 0px;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.container-nav {
    display: flex;
    padding-top: 40px;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.nav .logo {
    display: flex;
    margin-right: 131px;
    background-color: #FFFFFF;
}
.nav .menu {
    display: flex;
    gap: 30px;
}

.nav .header-contact {
    display: flex;
}

.nav .link {
    display: inline-block;
    color: var(--white-color);
    font-weight: 600;
    font-size: 12px;
    line-height: var(--link-lh);
    letter-spacing: 0.1em;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: color 250ms linear;
}

.nav .link:hover,
.nav .link:focus {
    color: var(--accent-color);
}

.number-tel{
    display: inline-block;
    color: var(--white-color);
    font-weight: 600;
    font-size: 12px;
    line-height: var(--link-lh);
    letter-spacing: 0.1em;

    margin-right: 40px;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: color 250ms linear;
}

.number-tel:hover,
.number-tel:focus {
    color: var(--accent-color);
}

.online-booking {
    display: inline-block;
    color: var(--white-color);
    width: 160px;
    height: 40px;
    border: 1px solid #FF6C00;
    border-radius: 25px;
    background-color: transparent;
    text-align: center;

    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: var(--link-lh);
    letter-spacing: 0.09em;
    padding: 12px 24px;
    transition: background-color 250ms linear;
}

.online-booking.booking {
    padding: 12px 20px;
    margin-right: 20px;
}

.online-booking:hover,
.online-booking:focus {
    background-color: var(--accent-color);
}

.second-title {
    font-family: 'Raleway', sans-serif;
    color: var(--color-title-second);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
}   

/* Hero */

.container-hero {
    display: flex;
}

.hero .hero-rigth {
    width: 444px;
}


.hero .hero-social {
    position: relative;
    display: flex;
    width: 100px;
}


.social-network {
    color: var(--color-title-second);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    transition: color 250ms linear;
}

.social-network:hover,
.social-network:focus {
    color: var(--accent-color);
}

.social-network + .social-network {
    margin-left: 40px;
}

.hero .thumb {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 40px;
    align-items: center;
    transform-origin: bottom left;
    transform: rotate(270deg);
}

.hero .thumb::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--color-title-second);
    margin-right: 40px;
}

.hero .hero-slide {
    position: relative;
    background-image: linear-gradient( to right,
    var(--background-gradient), 
    var(--background-gradient)),
    url(../images/slider-hero.jpg);
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 272px;
    padding-bottom: 208px;
    padding-left: 100px;
    padding-right: 100px;
}

.subtitle {
    display: flex;
    text-transform: uppercase;
    color: var(--subtitle-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    margin-bottom: 20px;
    align-items: center;
}

.subtitle::before {
    display: flex;
    content: '';
    width: 60px;
    height: 1px;
    margin-right: 20px;
    background-color: currentColor;
}

.hero .second-title {
    font-family: 'Raleway', sans-serif;
    color: var(--white-color);
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
}

.hero .text {
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.67;
    width: 358px;
}

.back-forvard {
    display: inline-flex;
    position: absolute;
    right: 0;
    bottom: 40px;
    color: white;
}

.back-forvard-item {
    position: relative;
    padding-bottom: 8px;
}

.back-forvard-left {
    color: var(--subtitle-color);
}

.back-forvard-right {
    color: var(--white-color);
}

.back-forvard-left::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
}

.back-forvard-right::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
}

.back-forvard-item {
    margin-right: 20px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
}

.back-forvard-item + .back-forvard-item {
    margin-left: 24px;
}

/* Section About */

#about {
    padding-top: 120px;
    padding-bottom: 120px;
}

.about-container {
    display: flex;
    gap: 30px;
}

#about .after-title {
    color: var(--after-title-color);
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;

    margin-bottom: 20px;
}

#about .text-about {
    color: var(--after-title-color);
    font-size: 14px;
    line-height: 1.85;
    letter-spacing: 0.02em;

    margin-bottom: 42px;
}

#about .about-photo {
    display: flex;
    width: 570px;
    gap: 30px;
}

#about .about-right {
    display: block;
    flex-direction: column;
    max-width: 470px;
}


#about .subtitle {
    color: var(--color-title-second);
}

.online-booking.online-booking-about {
    color: var(--color-title-second);
    transition: color 250ms linear,
    background-color 250ms linear;
}

#about .online-booking:hover,
#about .online-booking:focus {
    color: var(--white-color);
}

/* Section service-prices */

#service-prices {
    background-color: var(--background-prices);
    background-image: url("../images/services-and-prices.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1600px;
    margin: 0 auto;

    padding-top: 120px;
    padding-bottom: 120px;
}

.subtitle {
    color: var(--subtitle-color);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;

    margin-bottom: 20px;
}

#service-prices .second-title {
    color: var(--white-color);
    margin-bottom: 44px;
}

#service-prices .item {
    display: flex;
    color: var(--text-color);
    line-height: 1.66;
    flex-wrap: wrap;
    justify-content: space-between;
}

#service-prices .left {
    background: linear-gradient(180deg,
    #171A24 0%,
    rgba(23, 26, 36, 0.2) 100%);
}

#service-prices .right {
    background: linear-gradient(180deg,
    #090B13 0%,
    rgba(9, 11, 19, 0.2) 100%);
}

#service-prices .item + .item {
    margin-top: 20px;
}

#service-prices .list {
    display: flex;
    flex-direction: column;
    width: 570px;

    padding: 30px 20px;
}

#service-prices .price-container {
    display: flex;
    gap: 30px;

    margin-bottom: 44px;
}

#service-prices .online-booking {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Section Statistic */

.statistic {
    padding-top: 120px;
    padding-bottom: 120px;
}

.statistic .statistic-date {
    display: flex;
    width: 570px;
}

.statistic .statistic-rigth {
    display: flex;
    width: 570px;
}

.statistic-container {
    display: flex;
    gap: 30px;
}

.statistic .item {
    background-color: var(--background-barbers);
    width: 170px;
    height: 133px;
    text-align: center;
    padding: 20px 24px;
}

.statistic .item:nth-child(even) {
    margin-top: 30px;
}

.statistic .list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    padding-left: 100px;

}

.statistic .text {
    color: var(--color-title-second);
    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
}

.statistic .number {
    position: relative;
    color: var(--color-title-second);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    letter-spacing: 0.05em;
    margin-bottom: 6px;
}

.statistic .number::after {
    position: absolute;
    top: 0;
    content: '+';
    font-size: 16px;
    font-weight: 600;
    line-height: 1.37;
    color: var(--accent-color);
}

.statistic .subtitle {
    color: var(--color-title-second);
}

.statistic .second-title {
    width: 430px;
}

.statistic .text-rigth {
    color: var(--after-title-color);
    width: 500px;
    font-size: 18px;
    line-height: 1.66;
}

/* Section barbers */

#barbers {
    background-color: var(--background-barbers);
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

#barbers .subtitle {
    color: var(--color-title-second);
    margin-bottom: 20px;
}

#barbers .title {
    margin-bottom: 44px;
}

#barbers .name {
    color: var(--color-title-second);
    font-weight: 400;
    line-height: 1.39;
    text-align: center;

    margin-bottom: 8px;
}

#barbers .profession {
    color: var(--accent-color);
    font-size: 14px;
    line-height: 1.36;

    margin-bottom: 30px;
}

#barbers .name-social {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

#barbers .social-list {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#barbers .socialnet {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--white-color);
    fill: var(--color-title-second);
    align-items: center;
    justify-content: center;
    transition: fill 250ms linear;
}

#barbers .social-svg {
    width: 20px;
    height: 20px;
}

#barbers .socialnet:hover,
#barbers .socialnet:focus {
    fill: var(--accent-color)
}

#barbers .list-box {
    display: block;
    width: 370px;
    text-align: center;
}

#barbers .list {
    display: flex;
    flex-basis: calc(100% / 3 - 30px);
    gap: 30px;
}



/* Section Gallery */

.gallery {
    padding-top: 120px;
    padding-bottom: 120px;
}

.gallery .subtitle {
    color: var(--color-title-second);
}

.gallery .gallery-img {
    display: flex;
    gap: 30px;
}

.gallery .subtitle {
    margin-bottom: 44px;
}

/* Section contacts */

#contacts {
    background-color: var(--backgroung-contacts);
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 130px;
    padding-bottom: 120px;
}


#contacts .second-title {
    display: block;
    color: var(--white-color);
    margin-bottom: 40px;
}

.input-booking::placeholder {
    text-transform: uppercase;
}

#contacts {
    position: relative;
}

#contacts .background {
    position: absolute;
    left: calc(50% + 15px);
    top: 0;
    bottom: 0;
    right: 0;
    background-image: url(../images/slaide-contacts.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

#contacts .contact-date {
    display: inline-flex;
    font-style: normal;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms linear;
    align-items: center;
}

.svg-icon {
    margin-right: 16px;
    fill: currentColor;
}

.contact-date.contact-address {
    font-weight: 700;
}

#contacts .contact-date:hover,
#contacts .contact-date:focus {
    color: var(--white-color);
}

#contacts .contact-date:hover .svg-icon,
#contacts .contact-date:focus .svg-icon {
    fill: var(--white-color);
}

#contacts .subtitle {
    color: var(--white-color);
}

#contacts .text {
    color: var(--text-color);
    line-height: 1.67
}

.container.container-contacts {
    display: flex;
    flex-basis: calc(100% / 2 - 30px);
    gap: 30px;
}


.online-form .online-item {
    padding: 8px;
    color: var(--white-color);
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--text-color);
    transition: border-bottom 250ms linear;
}

.online-form .online-item::placeholder {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    color: var(--text-color);
    transition: color 250ms linear;
}

.online-form .item-width + .item-width {
    margin-left: 30px;
}

.online-form .online-item:hover,
.online-form .online-item:focus {
    border-bottom: 1px solid var(--white-color);
}

.online-form .online-item:hover::placeholder,
.online-form .online-item:focus::placeholder {
    color: var(--white-color);
}

.online-form .online-item.item-width {
    width: 270px;
    margin-bottom: 44px;
}

.online-item.item-textarea {
    display: block;
    width: 100%;
    height: 76px;
    resize: none;
    margin-bottom: 44px;
}


.right-contacts {
    padding-left: 100px;
    z-index: 1;
}

.right-contacts .address {
    width: 270px;
    margin-bottom: 70px;
}

.right-contacts .contact-date + .contact-date {
    margin-top: 20px;
}

.online-form .btn-send {
    display: inline-block;
    text-transform: uppercase;
    padding: 12px 62px;
    border-radius: 25px;
    color: var(--white-color);
    border: 1px solid var(--accent-color);
    background-color: transparent;
    transition: background-color 250ms linear;
}

.online-form .btn-send:hover,
.online-form .btn-send:focus {
    background-color: var(--accent-color);
}

/* Footer */

footer {
    background-color: var(--white-color);
    padding-top: 56px;
    padding-bottom: 56px;
}

.copyright {
    display: flex;
    color: var(--text-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    align-items: center;
}

.social-footer {
    display: inline-flex;
    align-items: center;
}

.social-footer::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--color-title-second);
    margin-right: 40px;
}

.container-footer {
    display: flex;
    justify-content: space-between;
}

.svg-copy {
    margin-right: 6px;
}