
:root {
    --background-prices: #111319;
    --white-color: #FFFFFF;
    --color-title-second: #303030;
    --accent-color: #FF6C00;
    --subtitle-color: rgba(157, 164, 189, 0.6);
    --text-color: #9DA4BD;
    --after-title-color: #555555;
    --color-input: rgba(157, 164, 189, 0.4);

    --text-lh: 1.36;
    --link-lh: 1.33;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0px;
    padding: 0px;
    padding-left: 0px;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.nav .menu {
    background-color: #37383A;
}

.nav .link {
    color: var(--white-color);
    font-weight: 600;
    font-size: 12px;
    line-height: var(--link-lh);
    letter-spacing: 0.1em;
}

.nav .link:hover,
.nav .link:focus {
    color: var(--accent-color);
}

.number-tel{
    color: var(--white-color);
    font-weight: 600;
    font-size: 12px;
    line-height: var(--link-lh);
    letter-spacing: 0.1em;
}

.number-tel:hover,
.number-tel:focus {
    color: var(--accent-color);
}

.number-tel,
.online-booking {
    background-color: #37383A;
}

.online-booking {
    color: var(--white-color);
    border: 1px solid #FF6C00;
    border-radius: 25px;

    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: var(--link-lh);
    letter-spacing: 0.09em;

    padding: 12px 24px;
}

.online-booking.booking {
    padding: 12px 20px;
}

.online-booking:hover,
.online-booking:focus {
    background-color: var(--accent-color);
}

/* Hero */

.hero .social-network {
    color: var(--accent-color);
    font-weight: 600;
    font-size: 11px;
    line-height: var(--text-lh);
}

.hero .social-network:hover,
.hero .social-network:focus {
    color: var(--color-title-second);
}

.subtitle {
    text-transform: uppercase;
    color: var(--subtitle-color);
    font-weight: 600;
    font-size: 11px;
    line-height: var(--text-lh);
} 

.hero .title {
    font-family: 'Raleway', sans-serif;
    background-color: var(--color-title-second);
    color: var(--white-color);
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
}

.hero .text {
    color: var(--text-color);
    line-height: 1.66;
}

.second-title {
    font-family: 'Raleway', sans-serif;
    color: var(--color-title-second);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
}

.after-title {
    color: var(--after-title-color);
    font-size: 18px;
    line-height: 1.66;
}

.text-about {
    color: var(--after-title-color);
    font-size: 14px;
    line-height: 1.85;
}

/* Section service-prices */

#service-prices {
    background-color: var(--background-prices);
    background-image: url(/images/services-and-prices.png);
    width: 1600px;
    margin: 0 auto;

    padding-top: 120px;
    padding-bottom: 120px;
}

#service-prices .subtitle {
    color: var(--subtitle-color);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    line-height: var(--text-lh);

    margin-bottom: 20px;
}

#service-prices .second-title {
    color: var(--white-color);
    margin-bottom: 44px;
}

#service-prices .item {
    display: flex;
    color: var(--text-color);
    line-height: 1.66;
    flex-wrap: wrap;
    justify-content: space-between;
}

#service-prices .item + .item {
    margin-top: 20px;
}

#service-prices .list {
    display: flex;
    flex-direction: column;
    width: 570px;

    padding: 30px 20px;
}

#service-prices .price-container {
    display: flex;
    gap: 30px;

    margin-bottom: 44px;
}

#service-prices .online-booking {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*  */

.statistic .number {
    color: var(--color-title-second);
    font-weight: 700;
    font-size: 42px;
    line-height: var(--text-lh);
    letter-spacing: 0.05em;
}

.statistic .text {
    color: var(--color-title-second);
    font-weight: 600;
    font-size: 11px;
    line-height: var(--text-lh);

}

/* Section barbers */

#barbers .subtitle {
    color: var(--color-title-second);
}

.list .name {
    color: var(--color-title-second);
    font-weight: 400;
    line-height: 1.39;
    text-align: center;
}

.list .profession {
    color: var(--accent-color);
    font-size: 14px;
    line-height: var(--text-lh);
    text-align: center;
}

.gallery .subtitle {
    color: var(--color-title-second);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

#contacts .second-title {
    background-color: var(--color-title-second);
    color: var(--white-color);
}

.input-booking::placeholder {
    background-color: var(--color-title-second);
    text-transform: uppercase;
}

#contacts .date-input {
    background-color: var(--color-title-second);
}



#contacts .contact-date {
    font-style: normal;
    background-color: var(--color-title-second);
    color: var(--text-color);

}

#contacts .contact-date:hover,
#contacts .contact-date:focus {
    color: var(--white-color);
}

#contacts .subtitle {
    background-color: var(--color-title-second);
    color: var(--white-color);
}

#contacts .text {
    background-color: var(--color-title-second);
    color: var(--text-color);
    line-height: 1.67
}